<div class="chat-container">
  <div class="chat-messages">
    <div *ngFor="let msg of messages" [ngClass]="{'my-message': msg.sender_id === userId, 'other-message': msg.sender_id !== userId}" class="message-bubble">
      <div class="message-text">{{ msg.message_text }}</div>
      <div class="message-time">{{ msg.created_at | date: 'shortTime' }}</div>
    </div>
  </div>

  <div class="chat-input">
    <input type="text" [(ngModel)]="newText" placeholder="Aa" />
    <button (click)="send()">📨</button>
  </div>
</div>
