<div class="artist-container">
    <div class="artist-header-bar">
      <h2>User Management</h2>
      <button class="create-artist-button" (click)="openCreate()">+ Create User</button>
    </div>
  
    <div class="artist-table">
      <div class="artist-table-header">
        <div>#</div>
        <div>User ID</div>
        <div>Avatar</div>
        <div>User Name</div>
        <div>Birthday</div>
        <div>Email</div>
        <div>Phone</div>
        <div>Is Active</div>
        <div>Role</div>
        <div>Actions</div>
      </div>
  
      <div
      *ngFor="let user of userList; let i = index" class="artist-table-row">
        <div>{{ i + 1 }}</div>
        <div>{{ user.user_id }}</div>
        <div>
          <img [src]="user.image_user ? user.image_user : generateRandomAvatar(user.user_name)" alt="artist" class="artist-img" />
        </div>
        <div>{{ user.user_name }}</div>
        <div>{{ user.birthday }}</div>
        <div>{{ user.email }}</div>
        <div>{{ user.phone }}</div>
        <div>{{ user.is_active }}</div>
        <div>{{ user.role_id }}</div>
        <div>
          <button class="edit-btn" (click)="editUser(user)">Edit</button>
          <button class="delete-btn" (click)="deleteUser(user.user_id)">Delete</button>
        </div>
      </div>
    </div>
  </div>

<!-- Modal Form -->
<div class="modal-overlay" *ngIf="isModalOpen">
    <div class="modal-content">
      <h3>{{ isEditMode ? 'Update User' : 'Create New User' }}</h3>
      <form (ngSubmit)="submitFormUser()" enctype="multipart/form-data">
        <input type="text" placeholder="User Name" [(ngModel)]="newUser.username" name="username" required />
        <div *ngIf="formErrors['user_name']">
         <div *ngFor="let err of formErrors['user_name']">{{ err }}</div>
        </div>

        <input type="text" placeholder="Full Name" [(ngModel)]="newUser.fullname" name="fullname" required />

        <input type="date" placeholder="Birth day" [(ngModel)]="newUser.birthday" name="birthday" required />
        <div *ngIf="formErrors['birthday']">
          <div *ngFor="let err of formErrors['birthday']">{{ err }}</div>
        </div>

        <input type="email" placeholder="Email" [(ngModel)]="newUser.email" name="email" required>
        <div *ngIf="formErrors['email']">
          <div *ngFor="let err of formErrors['email']">{{ err }}</div>
        </div>

        <input type="number" placeholder="Phone" [(ngModel)]="newUser.phone" name="phone" required>

         <input type="password" placeholder="Password" [(ngModel)]="newUser.passwordhash" name="passwordhash" required>

        <!-- File Upload -->
        <input type="file" (change)="onFileChange($event)" required />  

        <!-- Active Switch -->
        <div class="active_check">
          <label class="switch">
            <input type="checkbox" [(ngModel)]="newUser.is_active" name="is_active" style="margin-right: 10px;"/>
            <span class="slider"></span>
          </label>
          <span>{{ newUser.is_active ? 'Active' : 'Inactive' }}</span>
        </div>

        <!-- Role Dropdown -->
        <span>Chọn quyền: </span>
        <select [(ngModel)]="newUser.role" name="role" required>
          <option *ngFor="let role of roles" [value]="role.role_id">{{ role.role_name }}</option>
        </select>

        <div class="modal-buttons">
          <button type="submit">{{ isEditMode ? 'Update' : 'Create' }}</button>
          <button type="button" class="cancel-btn" (click)="closeCreate()">Cancel</button>
        </div>
      </form>
    </div>
  </div>

