<div class="music-player">
    <!-- Controls: shuffle, previous, play, next, repeat -->
    <div class="controls">
      <i class="fas fa-random control-icon"></i>
      <i class="fas fa-step-backward control-icon"></i>
      <i class="fas fa-play-circle play-icon"></i>
      <i class="fas fa-step-forward control-icon"></i>
      <i class="fas fa-redo control-icon"></i>
    </div>
  
    <!-- Progress bar -->
    <div class="progress-container">
      <span class="current-time">0:02</span>
  
      <div class="progress-bar">
        <div class="progress"></div>
      </div>
  
      <span class="total-time">4:20</span>
    </div>
  </div>
  