<div class="music-player">
  <!-- Audio Element -->
  <audio #audioPlayer (timeupdate)="onTimeUpdate()" (ended)="nextSong()"></audio>

  <!--Name music-->
  <div class="name-muic-player">
    <div class="image-player">
      <img [src]="currentSong?.imgUrl ? currentSong?.imgUrl : 'spotify.png'" alt="" width="50px" height="50px" border-radius="5px">
    </div>
    <div class="profile-play">
      <div class="name-music">
       {{ currentSong?.title }}
      </div>
      <div class="artist">
        <span class="artist-name">{{ currentSong?.artistartistName }}</span> 
      </div>
    </div>
  </div>

  <!-- Controls: shuffle, previous, play/pause, next, repeat -->
  <div class="playing-music">
    <div class="controls">
      <div class="fas fa-random control-icon" (click)="shuffle()"></div>
      <div class="fas fa-step-backward control-icon" (click)="prevSong()"></div>
      <img [src]="isPlaying ? 'pause.png' : 'play-button.png'" alt="" width="25px" height="25px" (click)="togglePlay()">
      <div class="fas fa-step-forward control-icon" (click)="nextSong()"></div>
      <div class="fas fa-redo control-icon" (click)="repeat()"></div>
    </div>

    <!-- Progress bar -->
    <div class="progress-container">
      <span class="current-time">{{ formatTime(currentTime) }}</span>
      <div class="progress-bar" (click)="seek($event)">
        <div class="progress" [style.width.%]="progress"></div>
      </div>
      <span class="total-time">{{ formatTime(totalTime) }}</span>
    </div>
  </div>
  
  <div class="volume-control">
    <div class="volume-icon" (click)="toggleVolume()">
      <img [src]="isMuted ? 'volume.png' : 'volume-up.png'" alt="" width="25px" height="25px" >
    </div>
      <div class="volume-bar">
        <input
          type="range"
          min="0"
          max="1"
          step="0.01"
          [(ngModel)]="volume"
          (input)="changeVolume($event)"
          class="volume-slider"
          [style.background]="getVolumeBackground()"
          title="Âm lượng" 
        />
      </div>
    
  </div>

</div>
