.container {
  max-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: auto; /* Scroll chỉ ở .signup__container */
  max-width: 100%;
}

.signup__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px; /* Thêm khoảng trống dưới cùng để tránh bị footer che */

}

/* Tùy chỉnh thanh cuộn cho signup__container */
.signup__container::-webkit-scrollbar {
  width: 8px; /* Độ rộng thanh cuộn */
}

.signup__container::-webkit-scrollbar-track {
  background: #f1f1f1; /* Màu nền phía sau thanh cuộn */
  border-radius: 10px;
}

.signup__container::-webkit-scrollbar-thumb {
  background: #1ed760; /* Màu thanh cuộn chính (giống màu Spotify) */
  border-radius: 10px;
}

.signup__container::-webkit-scrollbar-thumb:hover {
  background: #00ff59; /* Màu khi hover vào thanh cuộn */
}

.separator {
  width: 60%;
  border: 1px solid rgb(15, 15, 15);
  margin: 10px auto;
}

input[type="text"],
input[type="password"], 
input[type="date"],
input[type="email"]{
  padding: 10px;
  border: 1px solid rgb(5, 5, 5);
  border-radius: 4px;
  width: 400px;
  height: 50px;
}

input::placeholder {
  color: rgb(45, 44, 44);
}

.signup__form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
}

.signup__form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.signup__btn {
  background-color: #1ed760;
  color: black;
  padding: 14px;
  border-radius: 28px;
  width: 150px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.login_link {
  margin-top: 10px;
  font-weight: bold;
}

.login_link a {
  text-decoration: none;
  color: #1ed760;
}
