<div class="signup__container">
    <img src="/spotify_green.png" width="300" alt="">
    <h2>Sign Up for Spotify</h2>
    <hr class="separator" />
  
    <div class="signup__form-group">
      <label for="fullname">Full Name</label>
      <input type="text" id="fullname" placeholder="Full name" />
    </div>
  
    <div class="signup__form-group">
      <label for="username">Username</label>
      <input type="text" id="username" placeholder="Username" />
    </div>
  
    <div class="signup__form-group">
      <label for="password">Password</label>
      <input type="password" id="password" placeholder="Password" />
    </div>
  
    <div class="signup__form-group">
      <label for="confirm-password">Confirm Password</label>
      <input type="password" id="confirm-password" placeholder="Confirm Password" />
    </div>
  
    <button class="signup__btn">SIGN UP</button>
  
    <p class="login_link">
      Already have an account? <a href="/login">Log in</a>
    </p>
  </div>