<div class="artist-container">
    <div class="artist-header-bar">
      <h2>Track Management</h2>
      <button class="create-artist-button" (click)="openCreate()">+ Create Track</button>
    </div>
  
    <div class="artist-table">
      <div class="artist-table-header">
        <div>#</div>
        <div>Track ID</div>
        <div>Image</div>
        <div>Title</div>
        <div>Price</div>
        <div>Release Date</div>
        <div>Name Mp3</div>
        <div>Album</div>
        <div>Artist</div>
        <div>Actions</div>
      </div>
  
      <div
      *ngFor="let track of song; let i = index" class="artist-table-row">
        <div>{{ i + 1 }}</div>
        <div>{{ track.track_id }}</div>
        <div>
          <img [src]="'http://127.0.0.1:8000/media/images/'+track.image_url" alt="artist" class="artist-img" />
        </div>
        <div>{{ track.title }}</div>
        <div>{{ track.price }}</div>
        <div>{{ track.release_date }}</div>
        <div>{{ getFileName(track.namemp3) }}</div>
        <div>{{ getAlbumName(track.album) }}</div>
        <div>{{ getArtistName(track.artist) }}</div>
        <div>
          <button class="edit-btn" (click)="OpenEditTrack(track)" >Edit</button>
          <button class="delete-btn" (click)="deleteTrack(track.track_id)">Delete</button>
        </div>
      </div>
    </div>
  </div>

<!-- Modal Form -->
<div class="modal-overlay" *ngIf="isModalOpen">
  <div class="modal-content">
    <h3>{{ isEditMode ? 'Edit Artist' : 'Create Artist'}}</h3>
    <form (ngSubmit)="createOrUpdateTrack()" #roleFrom="ngForm" >
      <!-- Title -->
      <input
        type="text"
        [(ngModel)]="newTrack.title"
        placeholder="Title"
        name="title"
        required
      />

      <!-- Price -->
      <input
        type="number"
        [(ngModel)]="newTrack.price"
        placeholder="Price"
        name="price"
        required
      />

      <!-- Release Date -->
      <input
        type="date"
        placeholder="Release Date"
        [(ngModel)]="newTrack.release_date"
        name="releaseday"
        required
      />

      <!-- Select Album -->
      <select name="albumid" [(ngModel)]="newTrack.album" required>
        <option value="" disabled selected>Select Album</option>
        <option *ngFor="let album of albums" [value]="album.album_id">{{ album.title }}</option>
      </select>

      <!-- Select Artist -->
      <select name="artistid" [(ngModel)]="newTrack.artist" required>
        <option value="" disabled selected>Select Artist</option>
        <option *ngFor="let artist of artists" [value]="artist.artist_id">{{ artist.name }}</option>
      </select>

      <!-- Upload MP3 File -->
      <div class="form-group">
        <label>Chọn hình ảnh</label>
        <input type="file" accept=".mp3" (change)="onMp3FileChange($event)" required />
        <span *ngIf="selectedFileNameMp3">File hiện tại: {{ selectedFileNameMp3 }}</span>
      </div>  

      <div class="form-group">
        <label>Chọn hình ảnh</label>
        <input type="file" accept="image/*" (change)="onImageFileChange($event)" />
        <span *ngIf="selectedFileNameImage">File hiện tại: {{ selectedFileNameImage }}</span>
        <img [src]="newTrack.image_url" alt="current image" class="current-img" width="80px" height="80px" />
      </div>

      <!-- Buttons -->
      <div class="modal-buttons">
        <button type="submit" [disabled]="roleFrom.invalid">{{ isEditMode ? 'Update' : 'Create' }}</button>
        <button type="button" class="cancel-btn" (click)="closeCreate()">Cancel</button>
      </div>
    </form>
  </div>
</div>
