<div class="home-container">
  <!--Header-->
  <div class="header">
    <app-top-nav></app-top-nav>
  </div>

  <div class="body">
      <div class="spotify__home-container_side-bar" [class.collapsed]="isCollapsed">
        <button class="collapse-btn" (click)="toggleNavbar()">☰</button>
      
        <div class="spotify__home-container_side-bar-item" (click)="onNavigation('home')">
          <i class="fas fa-home"></i>
          <span *ngIf="!isCollapsed">Home</span>
        </div>
      
        <div class="spotify__home-container_side-bar-item" >
          <i class="fas fa-plus-square"></i>
          <span *ngIf="!isCollapsed" (click)="createAndSelectNewPlaylist()">Create Playlist</span>
        </div>

        <div *ngFor="let pl of playlist" class="spotify__home-container_side-bar-item" (click)="selectPlaylist(pl.playlist_id)">
          <i class="fas fa-music"></i>
          <span *ngIf="!isCollapsed">{{ pl.name }}</span>
        </div>

      </div>
      
      <div class="spotify__home-container_playlist-container col-10">
        
        <div class="mt-5 container-fluid" *ngIf="(sb.isHomeVisible ) && currentPage === 'home'">
          <h4 [style.color]="'white'">Focus</h4>
          <div class="playlist_card_collections">
            <div id="song_card_item" *ngFor="let sc of songCards">
              <app-song-card
              [playlistThumbnail]="sc.image_url"  
              [title]="sc.title"
              [description]="getArtistName(sc.artist)"
              [song_id]="sc.track_id"
              [link]="sc.namemp3"
              (click)="onClickSong(sc, songCards)"
              ></app-song-card>
            </div>
          </div>
        </div>
        
        <div [style.paddingTop]="'250px'" class="mt-5 container-fluid" *ngIf="(sb.isHomeVisible ) && currentPage === 'home'">
          <h4 [style.color]="'white'" [style.padding]="'10px'">
            Spotify Playlists
          </h4>
          <div class="playlist_card_collections">
            <div id="song_card_item" *ngFor="let sc of songCards">
              <app-song-card
                
                
              ></app-song-card>
            </div>
          </div>
          
        </div>
          <!--
          <div class="mt-5 container-fluid" *ngIf="(sb.isSearchVisible | async) && currentPage === 'search'" >
            <h4 [style.color]="'white'" [style.padding]="'10px'">Browse All</h4>
            <div class="browse_card_collections">
              <app-browse-card
                *ngFor="let sc of browserAll"
                [bgColor]="sc.bgColor"
                [textColor]="sc.color"
                [title]="sc.title"
              ></app-browse-card>
            </div>
          </div>
          -->
          <!--playlistplaylist-->
          <div class="mt-5 container-fluid" *ngIf="(sb.isPlayListVisible | async) && currentPage === 'playlist' && selectedPlaylist" >
            <div class="play-list-container">
                <app-playlist 
                    *ngIf="selectedPlaylist"
                    [playlistName]="selectedPlaylist.name"
                    [playlistId]="selectedPlaylist.playlist_id"
                    
                ></app-playlist>
            </div>
          </div> 
        </div>
    
  </div>
    <!--Footer-->
    <div class="footer">
      <app-music-player></app-music-player>
    </div>
</div>

  