<div class="home-container">
    
    <div class="body">
        <div class="sider-bar-right col-2">
            <img src="spotify_green.png" alt="" width="180px" height="50px">
            <div class="sider-bar-admin">
              <img src="https://i.pravatar.cc/40" class="rounded-full w-10 h-10" alt=""/>
              <div>
                <div class="font-semibold">Admin</div>
                <span class="text-sm text-gray-500">Quản trị viên</span>
              </div>
            </div>
          
            <div class="sider-bar-system">
                <div class="sider-bar-name">HỆ THỐNG</div>
                <div class="sider-bar-container">
                    <div class="system-bar-user"  [routerLink]="['/admin/users']">
                        <span class="material-icons">person</span>
                        <span>Người dùng</span>
                    </div>
                    <div class="system-bar-user-group" [routerLink]="['/admin/user-group']">
                        <span class="material-icons">group</span>
                        <span>Nhóm quyền</span>
                    </div>
                </div>
                <div class="sider-bar-name">ALBUM</div>
                <div class="sider-bar-container">
                    <div class="system-bar-mic" [routerLink]="['/admin/artist']">
                        <span class="material-icons">mic</span>
                        <span>Nghệ sĩ</span>
                    </div>
                    <div class="system-bar-category" [routerLink]="['/admin/category']">
                        <span class="material-icons">category</span>
                        <span>Thể loại</span>
                    </div>
                    <div class="system-bar-albums" [routerLink]="['/admin/album']">
                        <span class="material-icons">album</span>
                        <span>Albums</span>
                    </div>
                    <div class="system-bar-musics" [routerLink]="['/admin/song']">
                        <span class="material-icons">music_note</span>
                        <span>Bài hát</span>
                    </div>
                </div>
            </div>
          </div>
        
        <div class="spotify__admin-container_playlist-container col-10">
            <!--Header-->
            <div class="header">
                <app-top-nav-admin></app-top-nav-admin>
            </div>
          
            <div class="admin-container" >
                <router-outlet></router-outlet>
            </div>
      
    </div>
</div>
  
    