<div class="artist-container">
    <div class="artist-header-bar">
      <h2>Artist Management</h2>
      <button class="create-artist-button" (click)="openModal()">+ Create Artist</button>
    </div>
  
    <div class="artist-table">
      <div class="artist-table-header">
        <div>#</div>
        <div>Artist ID</div>
        <div>Image</div>
        <div>Name</div>
        <div>Popularity</div>
        <div>Gener</div>
        <div>Actions</div>
      </div>
  
      <div
      *ngFor="let ar of artist; let i = index" class="artist-table-row">
        <div>{{ i + 1 }}</div>
        <div>{{ ar.artist_id}}</div>
        <div>
          <img [src]="ar.artist_img" alt="artist" class="artist-img" />
        </div>
        <div>{{ ar.name }}</div>
        <div>{{ ar.popularity_score }}</div>
        <div>{{ ar.gener }}</div>
        <div>
          <button class="edit-btn" (click)="editArtist(ar)">Edit</button>
          <button class="delete-btn" (click)="deleteArtist(ar.artist_id)">Delete</button>
        </div>
      </div>
    </div>
  </div>

<!-- Modal Form -->
<div class="modal-overlay" *ngIf="isModalOpen">
    <div class="modal-content">
      <h3>{{ isEditMode ? 'Edit Artist' : 'Create Artist'}}</h3>
      <form (ngSubmit)="submitForm()" #roleFrom="ngForm">
        <input type="text" [(ngModel)]="newArtist.name" placeholder="Artist Name" name="name" required />
        <input type="text" [(ngModel)]="newArtist.gener" placeholder="Genre" name="genre" required />
        <input type="number" [(ngModel)]="newArtist.popularity_score" placeholder="Popularity" name="popularity" required />
        <input type="file" (change)="onFileSelected($event)" accept="image/*" placeholder="Image URL" name="thumbnail" required />
        
        <div *ngIf="isEditMode && newArtist.artist_img">
          <img [src]="newArtist.artist_img" alt="current image" class="current-img" width="80px" height="80px" />
        </div>
        <div class="modal-buttons">
          <button type="submit" [disabled]="roleFrom.invalid">{{ isEditMode ? 'Update' : 'Create' }}</button>
          <button type="button" class="cancel-btn" (click)="closeModal()">Cancel</button>
        </div>
      </form>
    </div>
  </div>