<div class="user-profile">
    <h2>Welcome to your Profile, {{ user?.fullName }}</h2>
  
    <div class="profile-info">
      <div class="profile-image">
        <img [src]="user?.image_user || 'default-avatar.png'" alt="Avatar" class="user-avatar" />
      </div>
  
      <div class="profile-details">
        <p><strong>Username:</strong> {{ user?.user_name }}</p>
        <p><strong>Full Name:</strong> {{ user?.fullname }}</p>
        <p><strong>Birthday:</strong> {{ user?.birthday }}</p>
        <p><strong>Email:</strong> {{ user?.email }}</p>
        <p><strong>Phone:</strong> {{ user?.phone }}</p>
      </div>
    </div>
  
    <div class="profile-actions mt-4">
      <button class="btn btn-primary me-2" (click)="backTohome()">Edit Profile</button>
      <button class="btn btn-danger" (click)="onLogout()">Logout</button>
    </div>
  </div>
  