<header>
    <nav class="spotify__top-nav">
      <div class="logospotify"><img src="spotify.png" alt="" width="30px" height="30px"></div>
      <div class="spotify__top-nav_focus_title">
        <div class="spotify__top-nav_auth" *ngIf="isSearchFieldVisible">
         
            <input
              class="search_playlist"
              type="search"
              placeholder="What do you want to listen to?"
              #inputSearchRef
              (keyup)="filterBrowsingList(inputSearchRef)"
            />
        </div>
      </div>
      <div class="spotify__top-nav_auth">
        <div class="spotify__top-nav_auth_login" (click)="onNavigateToChat()">Chat</div>
        <div class="spotify__top-nav_auth_login" (click)="OnNavigateToSignUp()">Sign up</div>
        <div class="spotify__top-nav_auth_login" (click)="onNavigateToLogin()">Log in</div>
      </div>
    </nav>
  </header>
  